.priority-1 {
    background-color: #ffba60; /* Light Red */
    color: #222222; /* Dark Red */
}

.priority-2 {
    background-color: #ffea8d; /* Light Green */
    color: #222222; /* Dark Green */
}

.priority-3 {
    background-color: #c2e2ff; /* Light Blue */
    color: #222222; /* Dark Blue */
}

.task-item {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Add some spacing between tasks */
}