{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead border border-warning"
  style="
    background-image: url('../static/assets/img/header_img.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
  "
>
  <div class="py-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Task list</h1>
    {% if current_user.is_authenticated %}
    <h4>of: {{ current_user.name }}</h4>
    {% endif %}
    <h6>
      Make your plans a reality{% if current_user.is_anonymous %}, register or
      login now{% endif %}.
    </h6>
  </div>
</header>

{% if current_user.is_authenticated %}
<body>
  <div class="container position-relative px-4 px-lg-5 mt-3 mb-2">
    <form
      action="{{ url_for('home_user') }}"
      method="post"
    >
      {{ form.hidden_tag() }}
      <div class="d-grid gap-2 d-sm-flex pb-3">
        <div class="col-md-7">
          <label for="task" class="form-label">Task:</label>
          {{ form.text(class="form-control") }}
        </div>
        <div class="col-md-2">
          <label for="priority" class="form-label">Priority:</label><br />
          {{ form.priority(class="btn btn-outline-dark") }}
        </div>
      </div>
      <div class="border-bottom">
        <div class="mt-1 mb-3">
          {{ form.submit(type="submit", class="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</body>
{% endif %}
<div class="container px-lg-5 mb-3 mt-3">
  <div class="list-group d-flex">
    {% for task in tasks %}
    <div class="row justify-content-md mb-2">
      <div class="col col-lg-5">
        <div class="list-group-item border-0 rounded-2 priority-{{task.priority}}">
          <strong>{{ task.text }}</strong>
        </div>
      </div>
      <div class="col col-lg-1">
        <a class="btn btn-primary position-absolute" href="{{url_for('edit_task', task_id=task.id)}}">
          Edit
        </a>
      </div>
      <div class="col col-lg-1">
      <a class="btn btn-secondary position-absolute" href="{{url_for('delete_task', task_id=task.id) }}">Delete</a>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include "footer.html" %}
