{% include "header.html" %}

<!-- Page Header -->
<header class="masthead border border-warning" style="background-image: url('../static/assets/img/header_img.jpg'); background-size: cover; background-position: center; height: 200px;">
  <div class="py-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Task list</h1>
    {% if current_user.is_authenticated %}
      <h4>of: {{ current_user.name }}</h4>
    {% endif %}
    <h6>Make your plans a reality{% if current_user.is_anonymous %}, register or login now{% endif %}.</h6>
  </div>
</header>

{% if current_user.is_authenticated %}
<body>
  <div class="container position-relative px-4 px-lg-5 mt-3 mb-2">
    <form action="{{ url_for('home_user', user_id=current_user.id) }}" method="post">
      {{ form.hidden_tag() }}
      <div class="d-grid gap-2 d-sm-flex pb-3 border-bottom">
        <div class="col-md-7">
          <label for="task" class="form-label">Task:</label>
          {{ form.text(class="form-control") }}        
        </div>
        <div class="col-md-2">
          <label for="priority" class="form-label">Priority:</label><br>
          {{ form.priority(class="btn btn-primary") }}
        </div>
      </div>
      <div class="mt-3">
        {{ form.submit(type="submit", class="btn btn-primary") }}
      </div>
    </form>
  </div>
</body>
{% endif %}
<div class="container position-relative px-4 px-lg-5 mb-5">
{% for task in tasks %}
  {% if current_user.id == task.user_task_id %}
    <div class="list-group">
      <div class="col-md-7 mb-2">
        <label class="list-group-item border-0 rounded-2 d-flex gap-2 priority-{{task.priority}}">
          <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
          <span class="pt-1 form-checked-content">
              <strong>{{ task.text }}</strong>
          </span>
        </label>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
{% include "footer.html" %}